<!doctype html>
<html lang="{{ page.seoLang }}">

	<head>

		{% include 'includes/head.twig' %}

		{% include basekit.headScript %}
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script src="{{asset('js/stickUp.js')}}"></script>

		<script type="text/javascript">
		      //initiating jQuery
		      jQuery(function($) {
		        $(document).ready( function() {
		          //enabling stickUp on the '.template-header' class
		          $('.template-header').stickUp();
		        });
		      });
    	</script>

	</head>

	<body class="{{ page.backgroundClass }} {{ site.colorSwatch }}" {{ isV10sSite ? 'id="migrated-site"' : '' }}>

		{% block content %}
		{% endblock %}

		{% include basekit.bodyScript %}
	</body>
</html>
